/* Header container */
.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid color-mix(in srgb, var(--primary), transparent 80%);
}

/* Title */
.header h1 {
  display: block;
  width: fit-content;
  background: linear-gradient(to right, var(--cyan-light), 30%, var(--purple-vibrant));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
}

/* Hide nav next to h1 on mobile */
.header h1+nav {
  display: none;
}

/* Main nav styles */
.header nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.header nav li {
  padding: 0.75rem 1rem;
  align-content: center;
}

.header nav a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: 500;
  transition: color 0.2s;
}

.header nav a:hover {
  color: var(--primary, #383838);
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Drawer overlay */
.drawerOverlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.drawerOverlayVisible {
  opacity: 1;
  pointer-events: auto;
}

/* Drawer styles */
.drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--background);
  overflow-x: hidden;
  transition: width 0.3s;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.darkDrawer {
  border-left: 1px solid var(--primary);
}

.drawerOpen {
  width: 250px;
}

.drawerClosed {
  width: 0;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

/* Drawer nav styles */
.drawer nav ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.drawer nav li {
  padding: 0;
  flex-grow: 1;
  min-height: 2.5rem;
  display: flex;
}

.drawer nav a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

/* Drawer close button */
.closeButton {
  align-self: flex-end;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Responsive styles */
@media (min-width: 820px) {
  .header {
    grid-template-columns: 1fr auto 60px;
  }
  .menuButton {
    display: none !important;
  }
  .drawer {
    display: none;
  }
  .drawerOverlay {
    display: none;
  }
  .header h1+nav {
    display: block;
  }
  .header nav ul {
    flex-direction: row;
    gap: 1.5rem;
  }
}