:root {
  --background: #ffffff;
  --background-alt: #f9fafb;
  --foreground: #171717;
  --cyan-dark: #0891b2;
  --cyan-light: #22d3ee;
  --purple-vibrant: #a855f7;
  --neon-pink: #ec4899;
  --primary: var(--cyan-dark);
  --secondary: var(--purple-vibrant);

  --header-height: 90px;
}

.dark {
  --background: #010203;
  --background-alt: #11182780;
  --foreground: #d1d5db;
  --primary: var(--cyan-light);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}