.title {
    margin: 0 0 2rem;
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.1;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--cyan-light), var(--purple-vibrant));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.skillsContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-inline: auto;
}

.skillCard {
    background-color: var(--background-alt);
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Gradient border color*/
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, var(--cyan-light), var(--purple-vibrant));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.skillHeader {
    color: var(--primary);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    text-align: start;
}

.skillContent {
    color: var(--foreground);
    font-size: 0.875rem;
    text-align: start;
}

@media (min-width: 640px) {
  .skillsContainer { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}

@media (min-width: 1024px) {
  .skillsContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* max 3 columns */
    max-width: 1200px; /* optional, just to avoid super-wide rows */
  }
}