.button {
  background: transparent;
  border: 1px solid var(--primary);
  /* border-radius: 6px; */
  color: var(--primary);
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  color: white;
  background: var(--primary);
}